body {
  margin: 0;
}

#origin {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  flex: 1;
}
h1 {
  text-align: center;
}
h3 {
  color: rgb(86, 150, 67);
}
